.card-image-container {
    width: 80%;
    margin: 30px auto;
}

.card-image-container img {
    height: 400px;
}

.about-header {
    font-size: 36px;
    color: #555D5B;
    text-decoration: underline;
}

.card-info p {
    background-color: gainsboro;
    border-radius: 8px;

}