.see-rooms-btn {
    cursor: pointer;
    background-color: #DEE0E4;
    width: 100%;
}

.see-rooms-btn:hover {
    background-color: #8d96a8;
}

.see-rooms-btn a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width:768px) {
    .see-rooms a {
        font-size: 16px;
    }
}